body {
    margin: 0;
    background: #F4FBFF;
}

.header {
    max-width: 100%;
    background: #FFBC97;
    height: 100px;
    display: block;
    /* background: rgba(255, 215, 0, .3); */
    /* position: fixed; */
}

.logo img {
    width: 150px;
    margin-left: 50px;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ol {
    display: flex;
    list-style-type: none;
    margin-right: 110px;
}

.header ol a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic;
    font-size: 19px;
}

.cuerpo-producto {
    max-width: 100%;
}

.producto {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    /* grid-template-areas: "col1 col2"; */
    margin-bottom: 50px;
}

.img {
    margin: 0;
}

.imagen-producto {
    /* grid-area: col1; */
    width: 450px;
}

.especificaciones-producto h2 {
    /* grid-area: col2; */
    text-align: center;
    font-size: 40px;
    margin: 15px 0;
    font-family: 'Balsamiq Sans', cursive;
}

.especificaciones-producto h3 {
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
    font-family: 'Balsamiq Sans', cursive;
}

.especificaciones-producto p,
li {
    font-family: 'Balsamiq Sans', cursive;
    text-align: justify;
    margin: 0 30px;
}

.puntos-especificos {
    padding: 20px;
}

.contacto {
    height: 150px;
    background-color: #FFBC97;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-contacto {
    /* margin: 50px; */
    max-width: 100%;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.contacto-nombre {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.facebook {
    background-image: url('../Logos/facebook.svg');
}

.social-link.instagram {
    background-image: url('../Logos/instagram-bosquejado.svg');
}

.social-link.whatsapp {
    background-image: url('../Logos/whatsapp.svg');
}

.footer {
    background-color: #1B2127;
    margin: 0;
}

.footer p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin: 0;
    color: white;
    padding-right: 100px;
}

.footer a {
    text-decoration: underline;
    color: white;
    font-family: 'Red Rose', cursive;
}