body {
    margin: 0;
}

.header {
    max-width: 100%;
    background: #FFBC97;
    height: 100px;
    display: block;
    /* background: rgba(255, 215, 0, .3); */
    /* position: fixed; */
}

.logo img {
    width: 250px;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ol {
    display: flex;
    list-style-type: none;
    margin-right: 110px;
}

.header ol a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic;
    font-size: 19px;
}

.imagenes-portada {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background: rgba(136, 91, 67, 0.1); */
    background: #F4FBFF;
}

.imagenes-varias,
.imagenes-varias img {
    margin: 0;
    width: 700px;
    text-align: center;
}

.marca {
    text-align: center;
    background: #F4FBFF;
}

.marca h1 {
    font-size: 150px;
    margin: 20px 0;
    font-family: 'Rowdies', cursive;
    letter-spacing: 20px;
    color: rgb(160, 108, 163);
    margin: 0;
    padding: 30px;
}

.marca p {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    letter-spacing: 10px;
    color: #D0ADD2;
    margin: 0;
    padding: 30px;
}

.productos {
    background: #F4FBFF;
}

.productos h2 {
    text-align: center;
    margin: 0;
    padding: 40px;
    font-size: 60px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(160, 108, 163);
}