body {
    margin: 0;
}

.header {
    max-width: 100%;
    background: #FFBC97;
    height: 100px;
    display: block;
    /* background: rgba(255, 215, 0, .3); */
    /* position: fixed; */
}

.logo img {
    width: 150px;
    margin-left: 50px;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ol {
    display: flex;
    list-style-type: none;
    margin-right: 110px;
}

.header ol a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic;
    font-size: 19px;
}

.imagenes-portada {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background: rgba(136, 91, 67, 0.1); */
    background: #F4FBFF;
}

.imagenes-portada p {
    background-color: red;
    color: white;
    font-weight: bold;
}

.imagenes-varias,
.imagenes-varias img {
    margin: 0;
    width: 700px;
    text-align: center;
}

.marca {
    text-align: center;
    /* background: #FFBC97; */
    background-color: rgba(255, 188, 151, .5);
    margin: 50px;
}

.marca h1 {
    font-size: 150px;
    margin: 20px 0;
    font-family: 'Rowdies', cursive;
    letter-spacing: 20px;
    color: rgb(160, 108, 163);
    margin: 0;
    padding: 30px;
}

.productos {
    background: #F4FBFF;
}

.productos h2 {
    text-align: center;
    margin: 0;
    padding: 40px;
    font-size: 60px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(160, 108, 163);
}

.productos-mas-vendidos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.lista-productos {
    width: 500px;
    padding: 30px 85px 30px 85px;
    text-align: center;
    text-transform: uppercase;
}

.lista-productos h3 {
    margin: 15px;
    font-size: 30px;
    font-family: 'Noto Serif', serif;
}

.lista-productos p {
    font-size: 15px;
    font-family: 'Noto Serif', serif;
}

.imagen-producto-mas-vendido img {
    width: 350px;
}

.vegano {
    cursor: context-menu;
    /* Dejar el cursos normal encima de la etiqueta <p></p> */
    margin: 0;
    position: absolute;
    color: white;
    background-color: green;
    font-weight: bold;
    margin: 5px 0 0 35px;
    /* letter-spacing: 2px; */
    font-weight: 400;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

/* Animacion de las letras VEGANO */
@keyframes blur {
    from {
        text-shadow: 0px 0px 10px #fff,
            0px 0px 10px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #7B96B8,
            0px 0px 150px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px -10px 100px #7B96B8,
            0px -10px 100px #7B96B8;
    }
}

.contacto {
    height: 150px;
    background-color: #FFBC97;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-contacto {
    /* margin: 50px; */
    max-width: 100%;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.contacto-nombre {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.facebook {
    background-image: url('../Logos/facebook.svg');
}

.social-link.instagram {
    background-image: url('../Logos/instagram-bosquejado.svg');
}

.social-link.whatsapp {
    background-image: url('../Logos/whatsapp.svg');
}

.footer {
    background-color: #1B2127;
    margin: 0;
}

.footer p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin: 0;
    color: white;
    padding-right: 100px;
}

.footer a {
    text-decoration: underline;
    color: white;
    font-family: 'Red Rose', cursive;
}